@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-font: "Inter", sans-serif;
  --main-color: #333e48;
}

body,
p,
span,
div,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  color: var(--main-color);
}

.my-container {
  padding: 0px 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

ul,
li {
  list-style: none;
}
